<%- include("header") -%>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Simple Weather</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">About</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <!-- <h1 class="cover-heading">Cover your page.</h1> -->
    <div class="lead results-box">
          <p><%= locationName %></p>
        <div class="row">
          <div class="col">
            <p>Current</p>
            <p><img src="<%= currIconLink %>"<p>
            <p><%= currWeatherType %></p>
            <p><%= currTemp %>° F</p>
          </div>
          <div class="col">
            <p><%= nextTime %></p>
            <p><img src="<%= nextIconLink %>"<p>
            <p><%= nextWeatherType %></p>
            <p><%= nextTemp %>° F</p>
          </div>
          <div class="col">
            <p><%= followingTime %></p>
            <p><img src="<%= followingIconLink %>"<p>
            <p><%= followingWeatherType %></p>
            <p><%= followingTemp %>° F</p>
          </div>
        </div>
      </div>
    </div>
    <div class=lead>
      <form action="/" method="post">
        <div class="row input-row">
          <div class="col d-flex justify-content-center">
            <div class="input-group">
              <label for="locationInput" class="control-label"></label>
              <input class="form-control text-center" id="autocomplete"
              type="text" name="location"
              placeholder="Search (city, state) or ZIP">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" name="locationBtn">Go</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p></p>
    </div>
  </footer>
</div>
<%- include("footer") -%>
